@import 'vars';

#masthead {

}
.site-title {
  font-size: $font-large;
  float: left;
  margin: 0;
  font-weight: 100;
  a {
    text-decoration: none;
    color: #333;
  }
}
#site-navigation {
  width: initial;
  float: right;
  clear: none;
  a {
    font-size: $font-normal;
    color: #333;
    //font-weight: 100;
  }
}
