@import 'vars';
body {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-normal;
}

@import 'header';

#content {
  padding: $center-padding;
  // Height of header + height of footer
  min-height: calc(100vh - (88px + 36px));
}

h1, h2, h3, h4 {
  font-weight: 100;
}

.site-footer {
  padding: $center-padding;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #444;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 100;
}
