@import 'vars';
body {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-normal;
}

@import 'header';

#content {
  padding: $center-padding;
  min-height: calc(100vh - 100px);
}

h1, h2, h3, h4 {
  font-weight: 100;
}

.site-footer {
  padding: $center-padding;
}
